@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
}

@media (min-width: 1100px) {
  .card-columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem;
    orphans: 1;
    widows: 1;
  }
}

.post-date {
  min-height: 5em;
  width: 5em;
  border-radius: 50%;
  margin: 0 auto 1em;
  font-size: 0.75em;
}

.list-inline-item {
  font-size: 0.75em;
}

.post-meta i {
  font-size: 1em;
}

.post-sm .post-title {
  font-size: 1.5rem;
}

@media (max-width: 605px) {
  .post-sm .post-title {
    font-size: 1.25rem;
  }
}
